DATABASE_URL="postgresql://user:password@localhost:5432/dos_store?schema=public"
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_BRAND_NAME="D.O.S"
